---
import "../styles/variables.css"
import "../styles/global.css"
import Hero from "../layouts/Hero.astro"
import HowItWorks from "../layouts/HowItWorks.astro"
import About from "../layouts/About.astro"
import Pricing from "../layouts/Pricing.astro"
import ContactUs from "../layouts/ContactUs.astro"
import Reviews from "../layouts/Reviews.astro"
import Footer from "../components/Footer.astro"
import { SEO } from "astro-seo"
import PostHog from "../components/posthog.astro"

const metaDescription = "Курс Жeнская алхимия — 4 стихии для трансформации. Путь к раскрытию потенциала, уверенности и самовыражению."
const title = "Женская алхимия: 4 стихии для трансформации"
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={metaDescription}
      canonical={`https://xn----7sbbreqalmle2c3c5hh.xn--p1ai${Astro.url.pathname}`}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: "/logo.webp",
          url: `https://xn----7sbbreqalmle2c3c5hh.xn--p1ai${Astro.url.pathname}`,
        },
        optional: {
          description: metaDescription,
          locale: "ru_RU",
          siteName: "Женская алхимия",
        },
      }}
      twitter={{
        card: "summary_large_image",
        title,
        description: metaDescription,
        image: "/logo.webp",
      }}
      extend={{
        link: [{ rel: "icon", type: "image/webp", href: "/logo.webp" }],
        meta: [{ name: "robots", content: "index, follow" }],
      }}
    />
    <PostHog />
  </head>
  <body class="primary-layout">
    <Hero />
    <HowItWorks />
    <About />
    <Pricing />
    <Reviews />
    <ContactUs />
    <Footer />
  </body>
</html>
